@font-face {
  font-family: 'Copernicus Heavy';
  src: url('Copernicus-Heavy.eot');
  src: url('Copernicus-Heavy.eot?#iefix') format('embedded-opentype'),
  url('Copernicus-Heavy.woff') format('woff'),
  url('Copernicus-Heavy.svg') format('svg')
}