// Color:
$brand-color: #3bc0c3;
$black-color: #000000;
$blue-text-color: #314350;
$active-color: #f05050;
$footer-bg: #b6c2c9;
$border-grey-color:#0f1922;
$a-hover-color: #83aacb;
$nav-hover-dark-color: #1d2b36;
$nav-children-bg-color: #edf1f2;

// path
$assets: '../../my-assets';

// font
$open-sans: 'Open Sans', sans-serif;

// Predefined Break-points
$default-width: 940px;
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;

// Border-radius
$default-border-radius: 3px;
