/* line 1, ../scss/base.scss */
body,
html,
.main-intro {
  height: 100%;
}

/* line 7, ../scss/base.scss */
body.fixed-nav {
  padding: 86px 0 0 0;
}

@media screen and (max-width: 1025px) {
  /* line 12, ../scss/base.scss */
  body.fixed-nav {
    padding: 54px 0 0 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 18, ../scss/base.scss */
  body.fixed-nav {
    padding: 54px 0 0 0;
  }
}
/* line 23, ../scss/base.scss */
.line {
  border: none;
  border-top: 1px solid #222;
  margin: 0 auto;
  width: 30%;
}

/* line 30, ../scss/base.scss */
.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 36, ../scss/base.scss */
.v-center h2 {
  color: #fff;
  position: absolute;
  top: 0;
  /* left: 50%; */
  text-align: center;
  width: 100%;
  font-size: 43px;
}

@media screen and (max-width: 720px) {
  /* line 48, ../scss/base.scss */
  .v-center {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
/* line 55, ../scss/base.scss */
a,
a:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
}

/* line 61, ../scss/base.scss */
.button {
  background: #FC5253;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: .9em 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background .4s;
  transition: background .4s;
}

/* line 76, ../scss/base.scss */
.button:hover {
  background: #de3538;
  cursor: pointer;
  -webkit-transition: background .4s;
  transition: background .4s;
}

/* line 83, ../scss/base.scss */
.form {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 88, ../scss/base.scss */
.form.sending {
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 94, ../scss/base.scss */
.form.sent {
  opacity: .8;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 100, ../scss/base.scss */
.form .text,
.form .textarea {
  border: 1px solid #E8E8E8;
  border-radius: 0px;
  display: block;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 10px;
  position: relative;
  -webkit-transition: border .5s,color .5s;
  transition: border .5s,color .5s;
  width: 100%;
  -webkit-appearance: none;
}

/* line 116, ../scss/base.scss */
.form .button:focus,
.form .text:focus,
.form .textarea:focus {
  border-color: #33384A;
  outline: none;
  -webkit-transition: border .5s;
  transition: border .5s;
}

/* line 125, ../scss/base.scss */
.form .text::-webkit-input-placeholder,
.form .textarea::-webkit-input-placeholder {
  color: #848B91;
}

/* line 130, ../scss/base.scss */
.form .text::-moz-placeholder,
.form .textarea::-moz-placeholder {
  color: #848B91;
}

/* line 135, ../scss/base.scss */
.form .text:-ms-input-placeholder,
.form .textarea:-ms-input-placeholder {
  color: #848B91;
}

/* line 140, ../scss/base.scss */
.form .text::placeholder,
.form .textarea::placeholder {
  color: #848B91;
}

/* line 145, ../scss/base.scss */
.form .text[disabled],
.form .textarea[disabled] {
  color: #E8E8E8;
  -webkit-transition: color .5s;
  transition: color .5s;
}

/* line 152, ../scss/base.scss */
.form .checkbox {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 158, ../scss/base.scss */
.form label {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 12px;
}

/* line 164, ../scss/base.scss */
.form .box {
  position: relative;
}

/* line 168, ../scss/base.scss */
.form .thanks {
  color: rgba(255, 0, 0, 0.7);
  font-family: 'Copernicus Heavy',serif;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  visibility: hidden;
  z-index: 50;
}

/* line 186, ../scss/base.scss */
.form .thanks.show {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  visibility: visible;
}

/* line 193, ../scss/base.scss */
.form .error .text,
.form .error .textarea {
  border-color: #FC5253;
  -webkit-transition: border .5s;
  transition: border .5s;
}

/* line 200, ../scss/base.scss */
.form .input {
  position: relative;
}

/* line 204, ../scss/base.scss */
.form .input .message {
  background: #fff;
  color: #FC5253;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  left: 8px;
  padding: 4px;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: opacity .4s,top .4s;
  transition: opacity .4s,top .4s;
  top: -12px;
  z-index: 5;
}

/* line 223, ../scss/base.scss */
.form .input.error .message {
  opacity: 1;
  top: -7px;
  -webkit-transition: opacity .4s,top .4s;
  transition: opacity .4s,top .4s;
}

/* line 230, ../scss/base.scss */
.form .button {
  border-radius: 0px;
  -webkit-appearance: none;
}

/* line 235, ../scss/base.scss */
.form .button:hover,
.form .button:focus {
  background: #33384A;
}

/* line 240, ../scss/base.scss */
.form .button[disabled] {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 246, ../scss/base.scss */
.img-wide img {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 720px) {
  /* line 253, ../scss/base.scss */
  input,
  button {
    -webkit-appearance: none;
  }
}
/* line 259, ../scss/base.scss */
.wrapper,
.container {
  margin: 0 auto;
}

/* line 264, ../scss/base.scss */
.container {
  max-width: 1200px;
  width: 90%;
}

/* line 269, ../scss/base.scss */
.wrapper {
  max-width: 1800px;
  width: 100%;
}

/* line 274, ../scss/base.scss */
.filter {
  font-family: 'nimbus-sans',sans-serif;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 50;
}

/* line 283, ../scss/base.scss */
.filter .toggle {
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  color: #33384A;
  display: block;
  letter-spacing: 1px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
}

/* line 295, ../scss/base.scss */
.filter:hover .filter-list {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  visibility: visible;
}

/* line 302, ../scss/base.scss */
.filter .filter-list {
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  -webkit-transition: opacity .4s,visibility .1s .5s;
  transition: opacity .4s,visibility .1s .5s;
  top: 100%;
  visibility: hidden;
  width: 100%;
}

/* line 316, ../scss/base.scss */
.filter .filter-list li {
  letter-spacing: 1px;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}

/* line 322, ../scss/base.scss */
.filter .filter-list li:last-child {
  margin: 0;
}

/* line 326, ../scss/base.scss */
.filter .filter-list li a {
  color: #33384A;
  text-decoration: none;
}

/* line 331, ../scss/base.scss */
.filter .filter-list li a:hover {
  color: #FC5253;
}

@media screen and (max-width: 720px) {
  /* line 336, ../scss/base.scss */
  .filter {
    display: block;
    position: static;
  }
}
/* line 342, ../scss/base.scss */
.overlay {
  background: rgba(181, 83, 25, 0.75);
  color: #fff;
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 10%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 359, ../scss/base.scss */
.overlay time {
  display: block;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  margin: 0 0 5px 0;
  text-align: center;
}

/* line 367, ../scss/base.scss */
.overlay h1 {
  font-family: 'Copernicus Heavy',serif;
  font-size: 25px;
  line-height: 1.2;
  margin: 0 0 10px 0;
  text-align: center;
}

/* line 375, ../scss/base.scss */
.overlay .line {
  border-color: #fff;
  -webkit-transition: width .5s;
  transition: width .5s;
  width: 0;
}

/* line 382, ../scss/base.scss */
article img {
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
}

/* line 387, ../scss/base.scss */
article:hover .overlay {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

/* line 393, ../scss/base.scss */
article:hover .overlay .line {
  -webkit-transition: width .5s .2s;
  transition: width .5s .2s;
  width: 30%;
}

/* line 399, ../scss/base.scss */
.work-snippet:hover img,
.blog-image:hover img {
  -webkit-transform: rotate(-9deg) scale(1.15);
  -ms-transform: rotate(-9deg) scale(1.15);
  transform: rotate(-9deg) scale(1.15);
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
}

/* line 408, ../scss/base.scss */
.blog-image.no-spin:hover img {
  -webkit-transform: rotate(0deg) scale(1.125);
  -ms-transform: rotate(0deg) scale(1.125);
  transform: rotate(0deg) scale(1.125);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 415, ../scss/base.scss */
  .overlay {
    display: none;
  }

  /* line 419, ../scss/base.scss */
  .work-snippet:hover img,
  .blog-image:hover img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 428, ../scss/base.scss */
  .overlay {
    display: none;
  }

  /* line 432, ../scss/base.scss */
  .work-snippet:hover img,
  .blog-image:hover img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/* line 440, ../scss/base.scss */
.primary-navigation {
  bottom: 0;
  padding: 35px 0;
  position: absolute;
  width: 100%;
}

/* line 447, ../scss/base.scss */
.primary-navigation.fixed {
  background: rgba(31, 31, 31, 0.9);
  bottom: auto;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 50;
}

/* line 456, ../scss/base.scss */
.primary-navigation .mark {
  float: left;
}

/* line 460, ../scss/base.scss */
.primary-navigation .links {
  float: right;
}

/* line 464, ../scss/base.scss */
.primary-navigation .links li {
  float: left;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .15em;
  text-transform: uppercase;
  margin: 0 0 0 35px;
}

/* line 474, ../scss/base.scss */
.primary-navigation .links li a {
  color: #fff;
  text-decoration: none;
}
/* line 477, ../scss/base.scss */
.primary-navigation .links li a img {
  position: absolute;
  top: 14px;
  left: 42px;
  width: 140px;
  height: auto;
}
@media screen and (max-width: 720px) {
  /* line 477, ../scss/base.scss */
  .primary-navigation .links li a img {
    top: 2px;
    left: 20px;
  }
}

/* line 490, ../scss/base.scss */
.primary-navigation.fixed .links li a {
  color: #f9ae41;
}

/* line 494, ../scss/base.scss */
.primary-navigation.fixed .links li a:hover,
.primary-navigation .links li a.active,
.primary-navigation .links li a:hover {
  color: #f78509;
}

@media screen and (max-width: 1025px) {
  /* line 501, ../scss/base.scss */
  .primary-navigation {
    padding: 30px 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 507, ../scss/base.scss */
  .primary-navigation .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
  }

  /* line 515, ../scss/base.scss */
  .primary-navigation .hamburger .bar {
    background: #fff;
    display: block;
    height: 3px;
    margin: 6px;
    position: relative;
    -webkit-transition: -webkit-transform .4s ,opacity .3s;
    transition: transform .4s ,opacity .3s;
    width: 100%;
  }

  /* line 526, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-top {
    top: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
  }

  /* line 535, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-middle {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }

  /* line 541, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-bottom {
    top: -11px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
  }

  /* line 550, ../scss/base.scss */
  .primary-navigation .links {
    background: #fff;
    background: rgba(14, 12, 11, 0.5);
    left: 0;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .5s,visibility .1s .5s;
    transition: opacity .5s,visibility .1s .5s;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 5;
  }

  /* line 566, ../scss/base.scss */
  .primary-navigation .links.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* line 573, ../scss/base.scss */
  .primary-navigation .links li {
    display: block;
    margin: 15px 0;
    float: none;
  }

  /* line 579, ../scss/base.scss */
  .primary-navigation .links li a {
    color: #fff;
  }

  /* line 590, ../scss/base.scss */
  .primary-navigation .links li:last-child:after {
    display: none;
  }
}
/* line 595, ../scss/base.scss */
.main-intro {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  max-width: 1800px;
}

/* line 603, ../scss/base.scss */
.main-intro .logo {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 330px;
  width: 80%;
}

/* line 611, ../scss/base.scss */
.main-intro .primary-navigation {
  left: 0;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  /* line 617, ../scss/base.scss */
  .main-intro {
    background-attachment: scroll;
  }
}
/* line 622, ../scss/base.scss */
.template-front-page {
  background: #33384A;
}

/* line 626, ../scss/base.scss */
.template-front-page .row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 636, ../scss/base.scss */
.template-front-page .row-1 .blog-snippet {
  width: 40%;
}

/* line 640, ../scss/base.scss */
.template-front-page .row-1 .work-snippet {
  width: 20%;
}

/* line 644, ../scss/base.scss */
.template-front-page .row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 654, ../scss/base.scss */
.template-front-page .row-2 .col-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
}

/* line 667, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 674, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-1 .subcol-1 {
  width: 66.65%;
}

/* line 678, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-1 .subcol-2 {
  width: 33.35%;
}

/* line 682, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 689, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 .work-snippet {
  width: 40%;
}

/* line 693, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 .blog-snippet {
  width: 60%;
}

/* line 697, ../scss/base.scss */
.template-front-page .row-2 .col-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40%;
}

/* line 710, ../scss/base.scss */
.template-front-page .row-2 .col-2 .col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 717, ../scss/base.scss */
.template-front-page .row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 727, ../scss/base.scss */
.template-front-page .row-3 .work-snippet {
  width: 20%;
}

@media screen and (max-width: 720px) {
  /* line 732, ../scss/base.scss */
  .template-front-page .row-1 .blog-snippet,
  .template-front-page .row-1 .work-snippet {
    width: 50%;
  }

  /* line 737, ../scss/base.scss */
  .template-front-page .row-1 .col:nth-child(1),
  .template-front-page .row-1 .col:nth-child(2) {
    width: 100%;
  }

  /* line 742, ../scss/base.scss */
  .template-front-page .row-2 .col-1 {
    width: 100%;
  }

  /* line 746, ../scss/base.scss */
  .template-front-page .row-2 .col-1 .subrow-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 752, ../scss/base.scss */
  .template-front-page .row-2 .col-1 .subrow-2 .col {
    width: 100%;
  }

  /* line 756, ../scss/base.scss */
  .template-front-page .row-2 .col-2 {
    width: 100%;
  }

  /* line 760, ../scss/base.scss */
  .template-front-page .row-3 .work-snippet {
    width: 50%;
  }

  /* line 764, ../scss/base.scss */
  .template-front-page .row-3 .work-snippet:last-child {
    width: 100%;
  }
}
/* line 769, ../scss/base.scss */
.template-front-page .quote-snippet {
  background: #FC5253;
  padding: 5.5%;
}

/* line 774, ../scss/base.scss */
.template-front-page .quote-snippet p {
  color: #fff;
  font-family: 'Copernicus Heavy',serif;
  font-size: 27px;
  line-height: 1.4;
}

/* line 781, ../scss/base.scss */
.template-front-page .work-snippet img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 787, ../scss/base.scss */
.template-front-page .work-snippet {
  overflow: hidden;
  position: relative;
}

/* line 792, ../scss/base.scss */
.template-front-page .work-snippet .image {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 798, ../scss/base.scss */
.template-front-page .blog-snippet {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e66a1f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  -webkit-transition: background .4s;
  transition: background .4s;
  text-align: center;
}

/* line 814, ../scss/base.scss */
.template-front-page .blog-snippet:hover {
  background: #b6561a;
  -webkit-transition: background .4s;
  transition: background .4s;
}

/* line 820, ../scss/base.scss */
.template-front-page .blog-snippet > a {
  color: #fff;
  display: block;
  text-decoration: none;
  width: 100%;
}

/* line 827, ../scss/base.scss */
.template-front-page .blog-snippet time {
  color: #fff;
  display: block;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 10px 0;
}

/* line 836, ../scss/base.scss */
.template-front-page .blog-snippet h1 {
  font-family: 'Copernicus Heavy',serif;
  font-size: 44px;
}

/* line 841, ../scss/base.scss */
.template-front-page .blog-snippet .line {
  border-color: #fff;
  border-width: 2px;
  margin: 20px auto;
  width: 25%;
}

/* line 848, ../scss/base.scss */
.template-front-page .blog-snippet p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 1025px) {
  /* line 856, ../scss/base.scss */
  .template-front-page .quote-snippet p {
    font-size: 20px;
  }

  /* line 860, ../scss/base.scss */
  .template-front-page .blog-snippet h1 {
    font-size: 20px;
    line-height: 1.2;
    word-break: keep-all;
  }
}
@media screen and (max-width: 720px) {
  /* line 868, ../scss/base.scss */
  .template-front-page .blog-snippet {
    padding: 20% 4%;
  }

  /* line 872, ../scss/base.scss */
  .template-front-page .quote-snippet p {
    font-size: 18px;
    line-height: 1.5;
  }

  /* line 877, ../scss/base.scss */
  .template-front-page .blog-snippet time {
    font-size: 12px;
  }

  /* line 881, ../scss/base.scss */
  .template-front-page .blog-snippet h1 {
    font-size: 22px;
    line-height: 1.2;
    word-break: keep-all;
  }
}
/* line 888, ../scss/base.scss */
.template-archive-project .hidden {
  opacity: 0;
}

/* line 892, ../scss/base.scss */
.template-archive-project .container {
  position: relative;
}

/* line 896, ../scss/base.scss */
.template-archive-project .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 906, ../scss/base.scss */
.template-archive-project .col {
  margin: 20px 2.6% 20px 0;
  width: 23%;
}

/* line 911, ../scss/base.scss */
.template-archive-project .col:nth-child(4n) {
  margin-right: 0;
}

/* line 915, ../scss/base.scss */
.template-archive-project .project-excerpt {
  margin-top: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 921, ../scss/base.scss */
.template-archive-project .project-excerpt .cover {
  display: block;
  height: auto;
  margin: 0 0 20px 0;
  width: 100%;
}

/* line 928, ../scss/base.scss */
.template-archive-project .project-excerpt:hover .cover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* line 934, ../scss/base.scss */
.template-archive-project .project-excerpt .line {
  border-color: #BFBFBF;
  margin: 0 0 15px 0;
  width: 15%;
}

/* line 940, ../scss/base.scss */
.template-archive-project .project-excerpt .title {
  font-family: 'Copernicus Heavy',serif;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 5px 0;
}

/* line 947, ../scss/base.scss */
.template-archive-project .project-excerpt .title a {
  color: #33384A;
  text-decoration: none;
}

/* line 952, ../scss/base.scss */
.template-archive-project .project-excerpt .categories {
  font-family: 'nimbus-sans',sans-serif;
  color: #BFBFBF;
  font-size: 16px;
  font-style: italic;
}

/* line 959, ../scss/base.scss */
.template-archive-project .project-excerpt .categories a {
  color: #BFBFBF;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  /* line 965, ../scss/base.scss */
  .template-archive-project .project-excerpt {
    margin: 20px 0;
    width: 100%;
  }
}
/* line 971, ../scss/base.scss */
.template-single-project .container {
  max-width: 980px;
}

/* line 975, ../scss/base.scss */
.template-single-project .information {
  margin: 55px 0;
}

/* line 979, ../scss/base.scss */
.template-single-project .title {
  color: #33384A;
  font-family: 'Copernicus Heavy',serif;
  font-size: 55px;
  margin: 0 0 15px 0;
}

/* line 986, ../scss/base.scss */
.template-single-project .category {
  color: #FC5253;
  font-family: 'Interstate',sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

/* line 996, ../scss/base.scss */
.template-single-project .category a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1001, ../scss/base.scss */
.template-single-project .category a:hover {
  color: #de3538;
}

/* line 1005, ../scss/base.scss */
.template-single-project .supplement {
  margin: 55px 0;
}

/* line 1009, ../scss/base.scss */
.template-single-project .supplement .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 1016, ../scss/base.scss */
.template-single-project .supplement .col-1 {
  width: 50%;
}

/* line 1020, ../scss/base.scss */
.template-single-project .supplement .col-2 {
  padding: 0 0 0 40px;
  width: 50%;
}

/* line 1025, ../scss/base.scss */
.template-single-project .supplement .col-2 .line {
  border: none;
  border-bottom: 1px solid #F3F3F4;
  width: 100%;
}

/* line 1031, ../scss/base.scss */
.template-single-project .supplement p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 1.4em 0;
}

/* line 1039, ../scss/base.scss */
.template-single-project .supplement p a {
  color: #FC5253;
}

/* line 1043, ../scss/base.scss */
.template-single-project .footnotes {
  font-family: 'nimbus-sans',sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 1.5;
  margin: 20px 0 0 23px;
}

/* line 1051, ../scss/base.scss */
.template-single-project .footnotes li {
  margin: 0 0 10px 0;
  position: relative;
}

/* line 1056, ../scss/base.scss */
.template-single-project .footnotes li a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1061, ../scss/base.scss */
.template-single-project .footnotes li mark {
  background: none;
  color: #FC5253;
  left: -23px;
  position: absolute;
}

/* line 1068, ../scss/base.scss */
.template-single-project .img-supplement img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1074, ../scss/base.scss */
.template-single-project .etc-images {
  margin: 55px 0;
}

/* line 1078, ../scss/base.scss */
.template-single-project .etc-images .container {
  max-width: 900px;
}

/* line 1082, ../scss/base.scss */
.template-single-project .etc-images img {
  margin: 20px 0;
}

/* line 1086, ../scss/base.scss */
.template-single-project .img-wide {
  position: relative;
}

/* line 1090, ../scss/base.scss */
.template-single-project .noted {
  bottom: 20px;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  position: absolute;
  width: 100%;
}

/* line 1098, ../scss/base.scss */
.template-single-project .noted mark a {
  background: #fff;
  color: #FC5253;
  padding: 20px;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  /* line 1106, ../scss/base.scss */
  .template-single-project .information {
    margin: 25px 0 0 0;
  }

  /* line 1110, ../scss/base.scss */
  .template-single-project .title {
    font-size: 40px;
  }

  /* line 1114, ../scss/base.scss */
  .template-single-project .category {
    font-size: 16px;
    line-height: 1.4;
  }

  /* line 1119, ../scss/base.scss */
  .template-single-project .supplement .container {
    display: block;
  }

  /* line 1123, ../scss/base.scss */
  .template-single-project .supplement .col-1,
  .template-single-project .supplement .col-2 {
    padding: 0;
    width: 100%;
  }

  /* line 1129, ../scss/base.scss */
  .template-single-project .supplement .col-1 {
    margin: 0 0 1.4em 0;
  }

  /* line 1133, ../scss/base.scss */
  .template-single-project .noted {
    font-size: 11px;
  }
}
/* line 1138, ../scss/base.scss */
.pagers .page {
  background: #fff;
  display: block;
  padding: 25px;
  opacity: .85;
  position: fixed;
  text-decoration: none;
  -webkit-transition: margin .5s,opacity .5s;
  transition: margin .5s,opacity .5s;
  z-index: 500;
}

/* line 1150, ../scss/base.scss */
.pagers .left {
  left: 0;
  -webkit-transition: opacity .5s 1s,margin .5s;
  transition: opacity .5s 1s,margin .5s;
}

/* line 1156, ../scss/base.scss */
.pagers .right {
  right: 0;
  -webkit-transition: opacity .5s 1s,margin .5s;
  transition: opacity .5s 1s,margin .5s;
}

/* line 1162, ../scss/base.scss */
.pagers .left.hidden,
.pagers .right.hidden {
  opacity: 0;
}

/* line 1167, ../scss/base.scss */
.pagers .right:hover,
.pagers .left:hover {
  opacity: 1;
  margin: 0 !important;
  -webkit-transition: margin .5s,opacity .5s;
  transition: margin .5s,opacity .5s;
}

/* line 1175, ../scss/base.scss */
.pagers .icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 1180, ../scss/base.scss */
.pagers .left .title {
  margin: 0 20px 0 0;
}

/* line 1184, ../scss/base.scss */
.pagers .right .title {
  margin: 0 0 0 20px;
}

/* line 1188, ../scss/base.scss */
.pagers .title {
  color: #FC5253;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  vertical-align: middle;
}

/* line 1200, ../scss/base.scss */
.pagers .right:hover .title,
.pagers .left:hover .title {
  opacity: 1;
  -webkit-transition: opacity 1s !important;
  transition: opacity 1s !important;
}

@media screen and (max-width: 1025px) {
  /* line 1208, ../scss/base.scss */
  .pagers .left.hidden,
  .pagers .right.hidden {
    opacity: 1;
  }

  /* line 1213, ../scss/base.scss */
  .pagers .page {
    float: none;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 0;
    width: 100%;
  }

  /* line 1224, ../scss/base.scss */
  .pagers .title {
    display: inline-block;
    font-size: 20px;
    opacity: 1;
    width: auto;
  }
}
/* line 1232, ../scss/base.scss */
.template-page-about {
  margin: 55px 0;
}

/* line 1236, ../scss/base.scss */
.template-page-about .container {
  max-width: 980px;
}

/* line 1240, ../scss/base.scss */
.template-page-about header {
  margin: 0 0 55px 0;
}

/* line 1244, ../scss/base.scss */
.template-page-about header img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 1250, ../scss/base.scss */
.template-page-about header .line {
  border-color: #FC5253;
  border-width: 14px;
  margin: 45px 0 25px;
  max-width: 140px;
}

/* line 1257, ../scss/base.scss */
.template-page-about h1 {
  color: #FC5253;
  font-family: 'Copernicus Heavy',serif;
  font-size: 120px;
  line-height: 1;
}

@media screen and (max-width: 1025px) {
  /* line 1265, ../scss/base.scss */
  .template-page-about h1 {
    font-size: 65px;
  }

  /* line 1269, ../scss/base.scss */
  .template-page-about header .line {
    border-width: 5px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1275, ../scss/base.scss */
  .template-page-about h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  /* line 1280, ../scss/base.scss */
  .template-page-about header {
    margin: 0 0 35px 0;
  }

  /* line 1284, ../scss/base.scss */
  .template-page-about header .line {
    margin: 18px 0 15px 0;
    border-width: 6px;
  }
}
/* line 1290, ../scss/base.scss */
.blog-entry header {
  margin: 0 0 25px 0;
}

/* line 1294, ../scss/base.scss */
.blog-entry header img {
  display: block;
  height: auto;
  margin: 0 auto 15px auto;
  max-width: 100%;
}

/* line 1301, ../scss/base.scss */
.blog-entry .title {
  color: #33384A;
  font-family: 'Copernicus Heavy',serif;
  font-size: 125px;
  line-height: 1.1;
}

/* line 1308, ../scss/base.scss */
.blog-entry .etc,
.blog-entry .content {
  margin: 0 auto;
  max-width: 630px;
  width: 80%;
}

/* line 1315, ../scss/base.scss */
.blog-entry .meta {
  float: left;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  margin: 5px 0 0 -30%;
  width: 25%;
}

/* line 1323, ../scss/base.scss */
.blog-entry .meta time {
  color: #A0D8F2;
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
}

/* line 1331, ../scss/base.scss */
.blog-entry .meta .line {
  border-color: #F3F3F4;
  margin: 15px 0;
  width: 100%;
}

/* line 1337, ../scss/base.scss */
.blog-entry .meta .post-categories li {
  display: block;
  font-weight: 600;
  margin: 0 0 7px 0;
}

/* line 1343, ../scss/base.scss */
.blog-entry .meta .post-categories li a {
  background: #D9D9D9;
  color: #fff;
  display: inline-block;
  padding: 6px 10px;
  text-decoration: none;
}

/* line 1351, ../scss/base.scss */
.blog-entry .intro {
  color: #FC5253;
  font-family: 'Interstate',sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  line-height: 1.4;
  margin: 0 0 1em 0;
}

@media screen and (max-width: 1025px) {
  /* line 1362, ../scss/base.scss */
  .blog-entry header .img-wide {
    margin-left: -6%;
    width: 112%;
  }

  /* line 1367, ../scss/base.scss */
  .blog-entry .etc {
    max-width: 100%;
    width: 100%;
  }

  /* line 1372, ../scss/base.scss */
  .blog-entry .title {
    font-size: 84px;
    word-break: keep-all;
  }

  /* line 1377, ../scss/base.scss */
  .blog-entry .meta {
    float: none;
    margin: 15px 0;
    width: 100%;
  }

  /* line 1383, ../scss/base.scss */
  .blog-entry .meta .post-categories li {
    display: inline-block;
  }
}
@media screen and (max-width: 720px) {
  /* line 1389, ../scss/base.scss */
  .blog-entry .content {
    max-width: 100%;
    width: 100%;
  }

  /* line 1394, ../scss/base.scss */
  .blog-entry .title {
    font-size: 34px;
    word-break: keep-all;
  }

  /* line 1399, ../scss/base.scss */
  .blog-entry .intro {
    font-size: 18px;
  }

  /* line 1403, ../scss/base.scss */
  .blog-entry .content p {
    font-size: 16px;
  }
}
/* line 1408, ../scss/base.scss */
.blog-entry .content p {
  color: #A9AEB2;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 0 1.4em 0;
}

/* line 1416, ../scss/base.scss */
.blog-entry .content > p:first-child:first-letter {
  color: #A0D8F2;
  float: left;
  font-family: 'Copernicus Heavy',serif;
  font-size: 87px;
  line-height: 1;
  margin: 2px 10px 1px 0;
}

/* line 1425, ../scss/base.scss */
.blog-entry .content p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1430, ../scss/base.scss */
.blog-entry .content h1 {
  color: #A0D8F2;
  font-family: 'Interstate',sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 2em 0 .7em 0;
  text-transform: uppercase;
}

/* line 1439, ../scss/base.scss */
.blog-entry .content h2 {
  color: #33384A;
  font-family: 'Copernicus Heavy',serif;
  font-size: 20px;
  margin: 2em 0 .7em 0;
}

/* line 1446, ../scss/base.scss */
.blog-entry .content h1 + h2 {
  margin-top: 0;
}

/* line 1450, ../scss/base.scss */
.blog-entry .content .alignleft {
  background: #F3F3F4;
  float: left;
  margin: 0 5% 3% -20%;
  padding: 15px;
  width: 50%;
}

/* line 1458, ../scss/base.scss */
.blog-entry .content .alignleft img {
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  width: 100%;
}

/* line 1465, ../scss/base.scss */
.blog-entry .content .wp-caption-text {
  color: #848B91;
  font-family: 'Interstate',sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

/* line 1474, ../scss/base.scss */
.blog-entry .content .alignright {
  background: #F3F3F4;
  float: right;
  margin: 0 -20% 3% 5%;
  padding: 15px;
  width: 50%;
}

/* line 1482, ../scss/base.scss */
.blog-entry .content .alignright img {
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  width: 100%;
}

/* line 1489, ../scss/base.scss */
.blog-entry .content blockquote {
  border-bottom: 1px solid #FC5253;
  border-top: 1px solid #FC5253;
  margin: 0 0 1.4em 0;
  padding: 25px 0;
}

/* line 1496, ../scss/base.scss */
.blog-entry .content blockquote p {
  color: #838691;
  font-family: 'Harriet Text Light',serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
}

/* line 1505, ../scss/base.scss */
.blog-entry .content blockquote p:first-letter {
  display: inline-block;
  margin: 0 0 0 -.5em;
}

/* line 1510, ../scss/base.scss */
.blog-entry .content .quote-full p:first-letter {
  margin: 0 0 0 -.73em;
}

/* line 1514, ../scss/base.scss */
.blog-entry .content .quote-full {
  border-width: 8px;
  margin-left: -20%;
  width: 140%;
}

/* line 1520, ../scss/base.scss */
.blog-entry .content .quote-full p {
  color: #33384A;
  font-family: 'Copernicus Heavy',serif;
  font-size: 38px;
  font-style: normal;
  margin: 0;
}

/* line 1528, ../scss/base.scss */
.blog-entry .content .gallery {
  margin: 0 0 1.4em -20%;
  width: 140%;
}

/* line 1533, ../scss/base.scss */
.blog-entry .content .gallery img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1539, ../scss/base.scss */
.blog-entry .content .gallery.cols-1 .col-1 {
  margin: 0 0 1.4em 0;
}

/* line 1543, ../scss/base.scss */
.blog-entry .content .gallery.cols-1 .col-1:last-child {
  margin: 0;
}

/* line 1547, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-1 {
  margin: 0 0 2% 0;
}

/* line 1551, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-2 {
  float: left;
  width: 49%;
}

/* line 1556, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-3 {
  float: right;
  width: 49%;
}

/* line 1561, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-1 {
  margin: 0 0 2% 0;
}

/* line 1565, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-2 {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1571, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-3 {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1577, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-4 {
  float: left;
  width: 32%;
}

@media screen and (max-width: 1025px) {
  /* line 1583, ../scss/base.scss */
  .template-single {
    overflow: hidden;
  }

  /* line 1587, ../scss/base.scss */
  .blog-entry .content .quote-full {
    margin-left: -10%;
    width: 120%;
  }

  /* line 1592, ../scss/base.scss */
  .blog-entry .content .quote-full p {
    font-size: 28px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1598, ../scss/base.scss */
  .blog-entry .content blockquote {
    padding: 20px 0;
  }

  /* line 1602, ../scss/base.scss */
  .blog-entry .content .alignleft,
  .blog-entry .content .alignright {
    float: none;
    margin: 0 0 1.4em 0;
    width: 100% !important;
  }

  /* line 1609, ../scss/base.scss */
  .blog-entry .content .quote-full {
    border-width: 4px;
    margin-left: 0;
    width: 100%;
  }

  /* line 1615, ../scss/base.scss */
  .blog-entry .content .quote-full p {
    font-size: 18px;
  }

  /* line 1619, ../scss/base.scss */
  .blog-entry .content .gallery {
    margin-left: 0;
    width: 100%;
  }
}
/* line 1625, ../scss/base.scss */
.pagination {
  border-bottom: 1px solid #F3F3F4;
  border-top: 1px solid #F3F3F4;
  margin: 0 0 1.4em 0;
  padding: 15px 0;
}

/* line 1632, ../scss/base.scss */
.pagination .container {
  max-width: 980px;
}

/* line 1636, ../scss/base.scss */
.pagination .arrow {
  position: absolute;
}

/* line 1640, ../scss/base.scss */
.pagination .arrow.previous {
  left: -15%;
}

/* line 1644, ../scss/base.scss */
.pagination .arrow.next {
  right: -15%;
}

/* line 1648, ../scss/base.scss */
.pagination .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1658, ../scss/base.scss */
.pagination .row .col {
  position: relative;
  width: 50%;
}

/* line 1663, ../scss/base.scss */
.pagination .row .col a {
  display: block;
  opacity: .5;
  text-decoration: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 1671, ../scss/base.scss */
.pagination .row .col a:hover {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 1677, ../scss/base.scss */
.pagination .row .col:first-child {
  border-right: 1px solid #F3F3F4;
  padding-right: 20px;
}

/* line 1682, ../scss/base.scss */
.pagination .row .col:last-child {
  padding-left: 20px;
}

/* line 1686, ../scss/base.scss */
.pagination .entry {
  padding: 10px 0;
}

/* line 1690, ../scss/base.scss */
.pagination .entry time {
  color: #A0D8F2;
  display: block;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 10px 0;
}

/* line 1699, ../scss/base.scss */
.pagination .entry h1 {
  color: #33384A;
  font-family: 'Copernicus Heavy',serif;
  font-size: 18px;
  margin: 0 0 8px 0;
}

/* line 1706, ../scss/base.scss */
.pagination .entry h1 a {
  color: #33384A;
  text-decoration: none;
}

/* line 1711, ../scss/base.scss */
.pagination .entry p {
  color: #A9AEB2;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

@media screen and (max-width: 1025px) {
  /* line 1719, ../scss/base.scss */
  .pagination .entry p {
    font-size: 12px;
  }

  /* line 1723, ../scss/base.scss */
  .pagination .arrow.previous {
    left: -28px;
  }

  /* line 1727, ../scss/base.scss */
  .pagination .arrow.next {
    right: -28px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1733, ../scss/base.scss */
  .pagination .row .col {
    width: 100%;
  }

  /* line 1737, ../scss/base.scss */
  .pagination .row .col a {
    opacity: 1;
  }

  /* line 1741, ../scss/base.scss */
  .pagination .row .col .arrow {
    display: none;
  }

  /* line 1745, ../scss/base.scss */
  .pagination .row .col:first-child,
  .pagination .row .col:last-child {
    border: none;
    padding: 0;
  }
}
/* line 1752, ../scss/base.scss */
.comments .container {
  max-width: 630px;
}

/* line 1756, ../scss/base.scss */
.comments h1 {
  color: #33384A;
  font-family: 'Interstate',sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

/* line 1765, ../scss/base.scss */
.comments .comment {
  border-bottom: 1px solid #F3F3F4;
  margin: 0 0 25px 0;
  opacity: 1;
  padding: 0 0 25px 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

/* line 1774, ../scss/base.scss */
.comments .comment.hidden {
  opacity: 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

/* line 1780, ../scss/base.scss */
.comments .comment h3 {
  color: #FC5253;
  font-family: 'Copernicus Heavy',serif;
  font-size: 16px;
  margin: 0 0 7px 0;
}

/* line 1787, ../scss/base.scss */
.comments .comment p {
  color: #A9AEB2;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 7px 0;
}

/* line 1795, ../scss/base.scss */
.comments .comment time {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-style: italic;
  font-size: 13px;
  font-style: italic;
}

/* line 1803, ../scss/base.scss */
.comments .comment a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1808, ../scss/base.scss */
.comments .form p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 13px;
  font-style: italic;
}

/* line 1815, ../scss/base.scss */
.comments .form p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1820, ../scss/base.scss */
.comments .form p.logged-in {
  font-style: normal;
}

/* line 1824, ../scss/base.scss */
.comments .form header {
  border-bottom: 1px solid #F3F3F4;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}

/* line 1830, ../scss/base.scss */
.comments .form .row .text {
  margin: 0;
}

/* line 1834, ../scss/base.scss */
.comments .form .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

/* line 1842, ../scss/base.scss */
.comments .form .row .col {
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1847, ../scss/base.scss */
.comments .form .row .col.end {
  margin: 0;
}

/* line 1851, ../scss/base.scss */
.comments .form .submit {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (max-width: 720px) {
  /* line 1859, ../scss/base.scss */
  .comments .form .row {
    display: block;
  }

  /* line 1863, ../scss/base.scss */
  .comments .form .row .col {
    display: block;
    margin: 0 0 2% 0;
    width: 100%;
  }

  /* line 1869, ../scss/base.scss */
  .comments .form .row .remember-me {
    display: none;
  }

  /* line 1873, ../scss/base.scss */
  .comments h1 {
    font-size: 38px;
  }
}
/* line 1878, ../scss/base.scss */
.template-index {
  position: relative;
}

/* line 1882, ../scss/base.scss */
.template-index .blog-image {
  overflow: hidden;
  position: relative;
}

/* line 1887, ../scss/base.scss */
.template-index .blog-snippet {
  background: #E8E8E8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
}

/* line 1896, ../scss/base.scss */
.template-index .blog-snippet .boxed {
  background: #fff;
  padding: 4%;
  width: 100%;
}

/* line 1902, ../scss/base.scss */
.template-index .blog-snippet time {
  color: #A0D8F2;
  display: block;
  font-family: 'Interstate',sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

/* line 1911, ../scss/base.scss */
.template-index .blog-snippet h1 {
  font-family: 'Copernicus Heavy',serif;
  font-size: 44px;
}

/* line 1916, ../scss/base.scss */
.template-index .blog-snippet h1 a {
  color: #33384A;
  text-decoration: none;
}

/* line 1921, ../scss/base.scss */
.template-index .blog-snippet .line {
  border-color: #A0D8F2;
  border-width: 2px;
  margin: 20px 0;
  width: 25%;
}

/* line 1928, ../scss/base.scss */
.template-index .blog-snippet p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

/* line 1935, ../scss/base.scss */
.template-index .cover {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1941, ../scss/base.scss */
.template-index .row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1951, ../scss/base.scss */
.template-index .row-1 .col-1 {
  width: 50%;
}

/* line 1955, ../scss/base.scss */
.template-index .row-1 .col-2 {
  width: 25%;
}

/* line 1959, ../scss/base.scss */
.template-index .row-1 .col-3 {
  width: 25%;
}

/* line 1963, ../scss/base.scss */
.template-index .row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1973, ../scss/base.scss */
.template-index .row-2 .col-1 {
  width: 25%;
}

/* line 1977, ../scss/base.scss */
.template-index .row-2 .col-2 {
  width: 25%;
}

/* line 1981, ../scss/base.scss */
.template-index .row-2 .col-3 {
  width: 50%;
}

/* line 1985, ../scss/base.scss */
.template-index .row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1995, ../scss/base.scss */
.template-index .row-3 .col-1 {
  width: 25%;
}

/* line 1999, ../scss/base.scss */
.template-index .row-3 .col-2 {
  width: 50%;
}

/* line 2003, ../scss/base.scss */
.template-index .row-3 .col-3 {
  width: 25%;
}

/* line 2007, ../scss/base.scss */
.template-index .blog-image.no-image .overlay {
  background: #A0D8F2;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 720px) {
  /* line 2014, ../scss/base.scss */
  .template-index .row-1 .col-1,
  .template-index .row-2 .col-3 {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    width: 100%;
  }

  /* line 2023, ../scss/base.scss */
  .template-index .row-1 .col-2,
  .template-index .row-1 .col-3,
  .template-index .row-2 .col-1,
  .template-index .row-2 .col-2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
  }

  /* line 2034, ../scss/base.scss */
  .template-index .row-3 .col-1 {
    width: 50%;
  }

  /* line 2038, ../scss/base.scss */
  .template-index .row-3 .col-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }

  /* line 2046, ../scss/base.scss */
  .template-index .row-3 .col-3 {
    width: 50%;
  }
}
/* line 2051, ../scss/base.scss */
.info-quote {
  color: #33384A;
  font-family: 'Harriet Text Light',serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.4;
  margin: 0 0 45px 0;
}

/* line 2060, ../scss/base.scss */
.info-quote p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 2065, ../scss/base.scss */
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* line 2079, ../scss/base.scss */
.details .col {
  margin: 0 5% 0 0;
  width: 30%;
}

/* line 2084, ../scss/base.scss */
.details .col.end {
  margin: 0;
}

/* line 2088, ../scss/base.scss */
.details h3 {
  color: #33384A;
  font-family: 'Interstate',sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .15em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

/* line 2098, ../scss/base.scss */
.details ul,
.details p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

/* line 2106, ../scss/base.scss */
.details p {
  margin: 0 0 1.4em 0;
}

/* line 2110, ../scss/base.scss */
.details p:last-child {
  margin: 0;
}

/* line 2114, ../scss/base.scss */
.details ul li {
  list-style: disc outside;
  margin: 0 0 5px 0;
}

/* line 2119, ../scss/base.scss */
.details p a,
.details ul li a {
  color: #FC5253;
  text-decoration: none;
}

/* line 2125, ../scss/base.scss */
.details p a:hover,
.details ul li a:hover {
  color: #de3538;
}

@media screen and (max-width: 1025px) {
  /* line 2131, ../scss/base.scss */
  .info-quote {
    font-size: 24px;
  }

  /* line 2135, ../scss/base.scss */
  .details ul,
  .details p {
    font-size: 12px;
  }

  /* line 2140, ../scss/base.scss */
  .details p {
    margin: 0 0 1.1em 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 2146, ../scss/base.scss */
  .info-quote {
    font-size: 22px;
  }

  /* line 2150, ../scss/base.scss */
  .details .col {
    margin: 0 0 5% 0;
    width: 100%;
  }

  /* line 2155, ../scss/base.scss */
  .details ul {
    margin: 0 0 0 10px;
  }
}
/* line 2160, ../scss/base.scss */
.resume {
  margin: 20px 0 0 0;
}

/* line 2164, ../scss/base.scss */
.resume .icon {
  float: left;
  margin: 0 14px 0 0;
}

/* line 2169, ../scss/base.scss */
.resume .line {
  border-color: #FC5253;
  border-width: 2px;
  left: 1px;
  margin: 20px 0 10px 0;
  position: relative;
  width: 10px;
}

/* line 2178, ../scss/base.scss */
.resume .link {
  color: #FC5253;
  font-family: 'Interstate',sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

/* line 2186, ../scss/base.scss */
.main-footer {
  padding: 35px 0;
  background-color: #84807d;
}

/* line 2191, ../scss/base.scss */
.main-footer .container {
  position: relative;
}

/* line 2195, ../scss/base.scss */
.main-footer .social {
  float: left;
  position: absolute;
}

/* line 2200, ../scss/base.scss */
.main-footer .marks-alt {
  left: 50%;
  margin: 0 0 0 -58px;
  position: absolute;
}

/* line 2206, ../scss/base.scss */
.main-footer .marks-alt img {
  margin: 0 5px;
  vertical-align: middle;
}

/* line 2211, ../scss/base.scss */
.main-footer .logo {
  float: right;
}

/* line 2215, ../scss/base.scss */
.main-footer .np {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

/* line 2220, ../scss/base.scss */
.main-footer .np:hover {
  -webkit-transform: rotate(360deg) scale(1.15);
  -ms-transform: rotate(360deg) scale(1.15);
  transform: rotate(360deg) scale(1.15);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

@media screen and (max-width: 720px) {
  /* line 2229, ../scss/base.scss */
  .main-footer .marks-alt {
    left: 0;
    margin: 0 auto 20px auto;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  /* line 2239, ../scss/base.scss */
  .main-footer {
    padding: 45px 0;
  }

  /* line 2243, ../scss/base.scss */
  .main-footer .social {
    float: none;
    position: static;
    text-align: center;
  }

  /* line 2249, ../scss/base.scss */
  .main-footer .logo {
    display: block;
    height: auto;
    float: none;
    margin: 0 auto;
    width: 100px;
  }
}
/* line 2258, ../scss/base.scss */
.load-more {
  padding: 35px 0;
  text-align: center;
}

/* line 2263, ../scss/base.scss */
.load-more .button {
  font-size: 16px;
  letter-spacing: .15em;
}

/* line 2268, ../scss/base.scss */
.lightboxOverlay {
  background: #fff;
}

/* line 2272, ../scss/base.scss */
.lb-outerContainer,
.lightbox .lb-image {
  border-radius: 0px;
}

/* line 2277, ../scss/base.scss */
.lb-data .lb-number {
  font-family: 'nimbus-sans',sans-serif;
  font-size: 16px;
}

/* line 2282, ../scss/base.scss */
.lb-data .lb-close {
  background-image: url(../images/close.png);
}

/* line 2286, ../scss/base.scss */
.mouse {
  width: 25px;
  position: absolute;
  height: 36px;
  border-radius: 15px;
  border: 2px solid #888;
  border: 2px solid rgba(255, 255, 255, 0.27);
  cursor: pointer;
  right: 20px;
  top: 20px;
}
/* line 2296, ../scss/base.scss */
.mouse:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 720px) {
  /* line 2286, ../scss/base.scss */
  .mouse {
    display: none;
  }
}
/* line 2302, ../scss/base.scss */
.fixed .mouse {
  display: none;
}
/* line 2305, ../scss/base.scss */
.mouse .scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 6px;
  border-radius: 4px;
  background: #b0b1b1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: scroll;
  -moz-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}
/* line 2344, ../scss/base.scss */
footer p {
  float: right;
  position: relative;
  color: #fff;
}
/* line 2348, ../scss/base.scss */
footer p a {
  color: #fff;
  text-decoration: none;
}
/* line 2351, ../scss/base.scss */
footer p a:hover {
  color: #ccc;
}
