/* line 1, ../scss/base.scss */
body,
html,
.main-intro {
  height: 100%;
}

/* line 7, ../scss/base.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../scss/base.scss */
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 15, ../scss/base.scss */
h1 {
  font-family: Droid Serif,Georgia,serif;
}

/* line 19, ../scss/base.scss */
h2 {
  font-size: 24px;
}

/* line 23, ../scss/base.scss */
body.fixed-nav {
  padding: 86px 0 0 0;
}

@media screen and (max-width: 1025px) {
  /* line 28, ../scss/base.scss */
  body.fixed-nav {
    padding: 54px 0 0 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 34, ../scss/base.scss */
  body.fixed-nav {
    padding: 54px 0 0 0;
  }
}
/* line 39, ../scss/base.scss */
.line {
  border: none;
  border-top: 1px solid #222;
  margin: 0 auto;
  width: 30%;
}

/* line 46, ../scss/base.scss */
.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 52, ../scss/base.scss */
.v-center h1 {
  color: #c0a062;
  position: absolute;
  font-family: Droid Serif,Georgia,serif;
  top: 0;
  text-align: center;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2M0UpacyUABYBw1gGE0DBhGw4BhWIQBAG/tEIEgr3pXAAAAAElFTkSuQmCC);
  background: rgba(51, 36, 25, 0.6);
  padding: 10px;
  font-size: calc(29px + 45 * ((100vw - 320px) / 1360));
}

@media screen and (max-width: 720px) {
  /* line 67, ../scss/base.scss */
  .v-center {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
/* line 74, ../scss/base.scss */
a,
a:hover {
  -webkit-transition: color .4s;
  transition: color .4s;
}

/* line 80, ../scss/base.scss */
.form {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 85, ../scss/base.scss */
.form.sending {
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 91, ../scss/base.scss */
.form.sent {
  opacity: .8;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 97, ../scss/base.scss */
.form .text,
.form .textarea {
  border: 1px solid #E8E8E8;
  border-radius: 0px;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 10px;
  position: relative;
  -webkit-transition: border .5s,color .5s;
  transition: border .5s,color .5s;
  width: 100%;
  -webkit-appearance: none;
}

/* line 113, ../scss/base.scss */
.form .button:focus,
.form .text:focus,
.form .textarea:focus {
  border-color: #33384A;
  outline: none;
  -webkit-transition: border .5s;
  transition: border .5s;
}

/* line 122, ../scss/base.scss */
.form .text::-webkit-input-placeholder,
.form .textarea::-webkit-input-placeholder {
  color: #848B91;
}

/* line 127, ../scss/base.scss */
.form .text::-moz-placeholder,
.form .textarea::-moz-placeholder {
  color: #848B91;
}

/* line 132, ../scss/base.scss */
.form .text:-ms-input-placeholder,
.form .textarea:-ms-input-placeholder {
  color: #848B91;
}

/* line 137, ../scss/base.scss */
.form .text::placeholder,
.form .textarea::placeholder {
  color: #848B91;
}

/* line 142, ../scss/base.scss */
.form .text[disabled],
.form .textarea[disabled] {
  color: #E8E8E8;
  -webkit-transition: color .5s;
  transition: color .5s;
}

/* line 149, ../scss/base.scss */
.form .checkbox {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 155, ../scss/base.scss */
.form label {
  color: #848B91;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
}

/* line 161, ../scss/base.scss */
.form .box {
  position: relative;
}

/* line 165, ../scss/base.scss */
.form .thanks {
  color: rgba(255, 0, 0, 0.7);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  visibility: hidden;
  z-index: 50;
}

/* line 183, ../scss/base.scss */
.form .thanks.show {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  visibility: visible;
}

/* line 190, ../scss/base.scss */
.form .error .text,
.form .error .textarea {
  border-color: #FC5253;
  -webkit-transition: border .5s;
  transition: border .5s;
}

/* line 197, ../scss/base.scss */
.form .input {
  position: relative;
}

/* line 201, ../scss/base.scss */
.form .input .message {
  background: #fff;
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  left: 8px;
  padding: 4px;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  -webkit-transition: opacity .4s,top .4s;
  transition: opacity .4s,top .4s;
  top: -12px;
  z-index: 5;
}

/* line 220, ../scss/base.scss */
.form .input.error .message {
  opacity: 1;
  top: -7px;
  -webkit-transition: opacity .4s,top .4s;
  transition: opacity .4s,top .4s;
}

/* line 227, ../scss/base.scss */
.form .button {
  border-radius: 0px;
  -webkit-appearance: none;
}

/* line 232, ../scss/base.scss */
.form .button:hover,
.form .button:focus {
  background: #33384A;
}

/* line 237, ../scss/base.scss */
.form .button[disabled] {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 243, ../scss/base.scss */
.img-wide img {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 720px) {
  /* line 250, ../scss/base.scss */
  input,
  button {
    -webkit-appearance: none;
  }
}
/* line 256, ../scss/base.scss */
.wrapper,
.container {
  margin: 0 auto;
}

/* line 261, ../scss/base.scss */
.container {
  max-width: 1200px;
  width: 90%;
}

/* line 266, ../scss/base.scss */
.wrapper {
  max-width: 1800px;
  width: 100%;
}

/* line 271, ../scss/base.scss */
.filter {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 50;
}

/* line 280, ../scss/base.scss */
.filter .toggle {
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  color: #33384A;
  display: block;
  letter-spacing: 1px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
}

/* line 292, ../scss/base.scss */
.filter:hover .filter-list {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  visibility: visible;
}

/* line 299, ../scss/base.scss */
.filter .filter-list {
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  -webkit-transition: opacity .4s,visibility .1s .5s;
  transition: opacity .4s,visibility .1s .5s;
  top: 100%;
  visibility: hidden;
  width: 100%;
}

/* line 313, ../scss/base.scss */
.filter .filter-list li {
  letter-spacing: 1px;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}

/* line 319, ../scss/base.scss */
.filter .filter-list li:last-child {
  margin: 0;
}

/* line 323, ../scss/base.scss */
.filter .filter-list li a {
  color: #33384A;
  text-decoration: none;
}

/* line 328, ../scss/base.scss */
.filter .filter-list li a:hover {
  color: #FC5253;
}

@media screen and (max-width: 720px) {
  /* line 333, ../scss/base.scss */
  .filter {
    display: block;
    position: static;
  }
}
/* line 339, ../scss/base.scss */
.overlay {
  color: #fff;
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  padding: 10%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 721px) {
  /* line 339, ../scss/base.scss */
  .overlay {
    opacity: 0;
    background: rgba(181, 83, 25, 0.75);
  }
  /* line 343, ../scss/base.scss */
  .overlay.off {
    background: none;
    cursor: default;
  }
}
@media screen and (max-width: 720px) {
  /* line 339, ../scss/base.scss */
  .overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2P8////TAYKAOOoAQyjYcAwGgYMwyIMAHudOXEnfUyWAAAAAElFTkSuQmCC);
    background: rgba(255, 255, 255, 0.6);
    color: #2d2823;
    font-weight: 400;
  }
}

/* line 369, ../scss/base.scss */
.overlay time {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  margin: 0 0 5px 0;
  text-align: center;
}

/* line 377, ../scss/base.scss */
.overlay h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  line-height: 1.2;
  margin: 0 0 10px 0;
  text-align: center;
}

/* line 385, ../scss/base.scss */
.overlay .line {
  border-color: #fff;
  -webkit-transition: width .5s;
  transition: width .5s;
  width: 0;
}

/* line 392, ../scss/base.scss */
article img {
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
}

/* line 397, ../scss/base.scss */
article:hover .overlay {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

/* line 403, ../scss/base.scss */
article:hover .overlay .line {
  -webkit-transition: width .5s .2s;
  transition: width .5s .2s;
  width: 30%;
}

/* line 410, ../scss/base.scss */
.work-snippet:hover img, .blog-image:hover img {
  -webkit-transform: rotate(-9deg) scale(1.15);
  -ms-transform: rotate(-9deg) scale(1.15);
  transform: rotate(-9deg) scale(1.15);
  -webkit-transition: -webkit-transform .7s;
  transition: transform .7s;
}
/* line 418, ../scss/base.scss */
.work-snippet.off:hover img, .blog-image.off:hover img {
  transform: inherit;
}

/* line 425, ../scss/base.scss */
.off > img {
  transform: inherit;
}

/* line 430, ../scss/base.scss */
.blog-image.no-spin:hover img {
  -webkit-transform: rotate(0deg) scale(1.125);
  -ms-transform: rotate(0deg) scale(1.125);
  transform: rotate(0deg) scale(1.125);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 437, ../scss/base.scss */
  .overlay {
    display: none;
  }

  /* line 441, ../scss/base.scss */
  .work-snippet:hover img,
  .blog-image:hover img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 450, ../scss/base.scss */
  .overlay {
    display: none;
  }

  /* line 454, ../scss/base.scss */
  .work-snippet:hover img,
  .blog-image:hover img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/* line 462, ../scss/base.scss */
.primary-navigation {
  bottom: 0;
  padding: 35px 0;
  position: absolute;
  width: 100%;
}

/* line 469, ../scss/base.scss */
.primary-navigation.fixed {
  background: rgba(31, 31, 31, 0.9);
  bottom: auto;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 50;
  height: 83px;
}

/* line 479, ../scss/base.scss */
.primary-navigation .mark {
  float: left;
}

/* line 483, ../scss/base.scss */
.primary-navigation .links {
  float: right;
}

/* line 487, ../scss/base.scss */
.primary-navigation .links li {
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .15em;
  text-transform: uppercase;
  margin: 0 0 0 35px;
}

/* line 498, ../scss/base.scss */
.primary-navigation .links li a {
  color: #fff;
  text-decoration: none;
}
/* line 501, ../scss/base.scss */
.primary-navigation .links li a img {
  position: absolute;
  top: 14px;
  left: 42px;
  width: 140px;
  height: auto;
}
@media screen and (max-width: 720px) {
  /* line 501, ../scss/base.scss */
  .primary-navigation .links li a img {
    top: 2px;
    left: 20px;
  }
}
@media screen and (max-width: 720px) {
  /* line 514, ../scss/base.scss */
  .primary-navigation .links li:first-child a {
    font-size: 14px;
  }
}

/* line 522, ../scss/base.scss */
.primary-navigation.fixed .links li a {
  color: #f9ae41;
}

/* line 526, ../scss/base.scss */
.primary-navigation.fixed .links li a:hover,
.primary-navigation .links li a.active,
.primary-navigation .links li a:hover {
  color: #f78509;
}

@media screen and (max-width: 720px) {
  /* line 539, ../scss/base.scss */
  .primary-navigation .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 26px;
    width: 30px;
  }

  /* line 547, ../scss/base.scss */
  .primary-navigation .hamburger .bar {
    background: #c0a062;
    display: block;
    height: 3px;
    margin: 6px;
    position: relative;
    -webkit-transition: -webkit-transform .4s ,opacity .3s;
    transition: transform .4s ,opacity .3s;
    width: 100%;
  }

  /* line 558, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-top {
    top: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
  }

  /* line 567, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-middle {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }

  /* line 573, ../scss/base.scss */
  .primary-navigation .hamburger.x .bar-bottom {
    top: -11px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
  }

  /* line 582, ../scss/base.scss */
  .primary-navigation .links {
    background: #fff;
    background: rgba(14, 12, 11, 0.8);
    left: 0;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .5s,visibility .1s .5s;
    transition: opacity .5s,visibility .1s .5s;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 5;
  }

  /* line 598, ../scss/base.scss */
  .primary-navigation .links.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* line 605, ../scss/base.scss */
  .primary-navigation .links li {
    display: block;
    margin: 15px 0;
    float: none;
  }

  /* line 611, ../scss/base.scss */
  .primary-navigation .links li a {
    color: #fff;
  }

  /* line 622, ../scss/base.scss */
  .primary-navigation .links li:last-child:after {
    display: none;
  }
}
/* line 627, ../scss/base.scss */
.main-intro {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  max-width: 1800px;
}

/* line 635, ../scss/base.scss */
.main-intro .logo {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 330px;
  width: 80%;
}

/* line 643, ../scss/base.scss */
.main-intro .primary-navigation {
  left: 0;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  /* line 649, ../scss/base.scss */
  .main-intro {
    background-attachment: scroll;
  }
}
/* line 654, ../scss/base.scss */
.template-front-page {
  background: #33384A;
}

/* line 658, ../scss/base.scss */
.template-front-page .row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 668, ../scss/base.scss */
.template-front-page .row-1 .blog-snippet {
  width: 40%;
}

/* line 672, ../scss/base.scss */
.template-front-page .row-1 .work-snippet {
  width: 20%;
}

/* line 676, ../scss/base.scss */
.template-front-page .row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 686, ../scss/base.scss */
.template-front-page .row-2 .col-1 {
  width: 60%;
}

/* line 706, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-1 .subcol-1 {
  width: 66.65%;
  float: left;
}

/* line 711, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-1 .subcol-2 {
  width: 33.35%;
  float: left;
}

/* line 716, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 723, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 .work-snippet {
  width: 40%;
}

/* line 727, ../scss/base.scss */
.template-front-page .row-2 .col-1 .subrow-2 .blog-snippet {
  width: 60%;
}

/* line 731, ../scss/base.scss */
.template-front-page .row-2 .col-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40%;
}

/* line 744, ../scss/base.scss */
.template-front-page .row-2 .col-2 .col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 751, ../scss/base.scss */
.template-front-page .row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 761, ../scss/base.scss */
.template-front-page .row-3 .work-snippet {
  width: 20%;
}

@media screen and (max-width: 720px) {
  /* line 766, ../scss/base.scss */
  .template-front-page .row-1 .blog-snippet,
  .template-front-page .row-1 .work-snippet {
    width: 50%;
  }

  /* line 771, ../scss/base.scss */
  .template-front-page .row-1 .col:nth-child(1),
  .template-front-page .row-1 .col:nth-child(2) {
    width: 100%;
  }

  /* line 776, ../scss/base.scss */
  .template-front-page .row-2 .col-1 {
    width: 100%;
  }

  /* line 780, ../scss/base.scss */
  .template-front-page .row-2 .col-1 .subrow-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 786, ../scss/base.scss */
  .template-front-page .row-2 .col-1 .subrow-2 .col {
    width: 100%;
  }

  /* line 790, ../scss/base.scss */
  .template-front-page .row-2 .col-2 {
    width: 100%;
  }

  /* line 794, ../scss/base.scss */
  .template-front-page .row-3 .work-snippet {
    width: 50%;
  }

  /* line 798, ../scss/base.scss */
  .template-front-page .row-3 .work-snippet:last-child {
    width: 100%;
  }
}
/* line 803, ../scss/base.scss */
.template-front-page .quote-snippet {
  background: #395c92;
  padding: 5.5%;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

/* line 810, ../scss/base.scss */
.template-front-page .quote-snippet p {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 27px;
  line-height: 1.4;
}

/* line 817, ../scss/base.scss */
.template-front-page .work-snippet img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 824, ../scss/base.scss */
.template-front-page .work-snippet ul {
  margin-bottom: 20px;
}
/* line 826, ../scss/base.scss */
.template-front-page .work-snippet ul li {
  padding: 2px 0;
  text-align: center;
}

/* line 834, ../scss/base.scss */
.template-front-page .work-snippet {
  overflow: hidden;
  position: relative;
}

/* line 839, ../scss/base.scss */
.template-front-page .work-snippet .image {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 845, ../scss/base.scss */
.template-front-page .blog-snippet {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f31018;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  -webkit-transition: background .4s;
  transition: background .4s;
  text-align: center;
  background: url(../images/loewshotels.jpg) no-repeat center center;
  background-size: cover;
}

/* line 863, ../scss/base.scss */
.template-front-page .blog-snippet:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2NkSFw6k4ECwDhqAMNoGDCMhgHDsAgDANL5GgEHENOvAAAAAElFTkSuQmCC);
  background: rgba(0, 97, 165, 0.6);
  -webkit-transition: background .4s;
  transition: background .4s;
}

/* line 870, ../scss/base.scss */
.template-front-page .blog-snippet > a {
  color: #0061A5;
  display: block;
  text-decoration: none;
  width: 100%;
}

/* line 877, ../scss/base.scss */
.template-front-page .blog-snippet time {
  color: #0061A5;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 10px 0;
}

/* line 886, ../scss/base.scss */
.template-front-page .blog-snippet h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 44px;
}

/* line 891, ../scss/base.scss */
.template-front-page .blog-snippet .line {
  border-color: #fff;
  border-width: 2px;
  margin: 20px auto;
  width: 25%;
}

/* line 898, ../scss/base.scss */
.template-front-page .blog-snippet p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 1025px) {
  /* line 906, ../scss/base.scss */
  .template-front-page .quote-snippet p {
    font-size: 20px;
  }

  /* line 910, ../scss/base.scss */
  .template-front-page .blog-snippet h1 {
    font-size: 20px;
    line-height: 1.2;
    word-break: keep-all;
  }
}
@media screen and (max-width: 720px) {
  /* line 918, ../scss/base.scss */
  .template-front-page .blog-snippet {
    padding: 20% 4%;
  }

  /* line 922, ../scss/base.scss */
  .template-front-page .quote-snippet p {
    font-size: 18px;
    line-height: 1.5;
  }

  /* line 927, ../scss/base.scss */
  .template-front-page .blog-snippet time {
    font-size: 12px;
  }

  /* line 931, ../scss/base.scss */
  .template-front-page .blog-snippet h1 {
    font-size: 22px;
    line-height: 1.2;
    word-break: keep-all;
  }
}
/* line 938, ../scss/base.scss */
.template-archive-project .hidden {
  opacity: 0;
}

/* line 942, ../scss/base.scss */
.template-archive-project .container {
  position: relative;
}

/* line 946, ../scss/base.scss */
.template-archive-project .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 956, ../scss/base.scss */
.template-archive-project .col {
  margin: 20px 2.6% 20px 0;
  width: 23%;
}

/* line 961, ../scss/base.scss */
.template-archive-project .col:nth-child(4n) {
  margin-right: 0;
}

/* line 965, ../scss/base.scss */
.template-archive-project .project-excerpt {
  margin-top: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/* line 971, ../scss/base.scss */
.template-archive-project .project-excerpt .cover {
  display: block;
  height: auto;
  margin: 0 0 20px 0;
  width: 100%;
}

/* line 978, ../scss/base.scss */
.template-archive-project .project-excerpt:hover .cover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* line 984, ../scss/base.scss */
.template-archive-project .project-excerpt .line {
  border-color: #BFBFBF;
  margin: 0 0 15px 0;
  width: 15%;
}

/* line 990, ../scss/base.scss */
.template-archive-project .project-excerpt .title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 5px 0;
}

/* line 997, ../scss/base.scss */
.template-archive-project .project-excerpt .title a {
  color: #33384A;
  text-decoration: none;
}

/* line 1002, ../scss/base.scss */
.template-archive-project .project-excerpt .categories {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #BFBFBF;
  font-size: 16px;
  font-style: italic;
}

/* line 1009, ../scss/base.scss */
.template-archive-project .project-excerpt .categories a {
  color: #BFBFBF;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  /* line 1015, ../scss/base.scss */
  .template-archive-project .project-excerpt {
    margin: 20px 0;
    width: 100%;
  }
}
/* line 1021, ../scss/base.scss */
.template-single-project .container {
  max-width: 980px;
}

/* line 1025, ../scss/base.scss */
.template-single-project .information {
  margin: 55px 0;
}

/* line 1029, ../scss/base.scss */
.template-single-project .title {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 55px;
  margin: 0 0 15px 0;
}

/* line 1036, ../scss/base.scss */
.template-single-project .category {
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

/* line 1046, ../scss/base.scss */
.template-single-project .category a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1051, ../scss/base.scss */
.template-single-project .category a:hover {
  color: #de3538;
}

/* line 1055, ../scss/base.scss */
.template-single-project .supplement {
  margin: 55px 0;
}

/* line 1059, ../scss/base.scss */
.template-single-project .supplement .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 1066, ../scss/base.scss */
.template-single-project .supplement .col-1 {
  width: 50%;
}

/* line 1070, ../scss/base.scss */
.template-single-project .supplement .col-2 {
  padding: 0 0 0 40px;
  width: 50%;
}

/* line 1075, ../scss/base.scss */
.template-single-project .supplement .col-2 .line {
  border: none;
  border-bottom: 1px solid #F3F3F4;
  width: 100%;
}

/* line 1081, ../scss/base.scss */
.template-single-project .supplement p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 1.4em 0;
}

/* line 1089, ../scss/base.scss */
.template-single-project .supplement p a {
  color: #FC5253;
}

/* line 1093, ../scss/base.scss */
.template-single-project .footnotes {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 13px;
  line-height: 1.5;
  margin: 20px 0 0 23px;
}

/* line 1101, ../scss/base.scss */
.template-single-project .footnotes li {
  margin: 0 0 10px 0;
  position: relative;
}

/* line 1106, ../scss/base.scss */
.template-single-project .footnotes li a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1111, ../scss/base.scss */
.template-single-project .footnotes li mark {
  background: none;
  color: #FC5253;
  left: -23px;
  position: absolute;
}

/* line 1118, ../scss/base.scss */
.template-single-project .img-supplement img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1124, ../scss/base.scss */
.template-single-project .etc-images {
  margin: 55px 0;
}

/* line 1128, ../scss/base.scss */
.template-single-project .etc-images .container {
  max-width: 900px;
}

/* line 1132, ../scss/base.scss */
.template-single-project .etc-images img {
  margin: 20px 0;
}

/* line 1136, ../scss/base.scss */
.template-single-project .img-wide {
  position: relative;
}

/* line 1140, ../scss/base.scss */
.template-single-project .noted {
  bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  position: absolute;
  width: 100%;
}

/* line 1148, ../scss/base.scss */
.template-single-project .noted mark a {
  background: #fff;
  color: #FC5253;
  padding: 20px;
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  /* line 1156, ../scss/base.scss */
  .template-single-project .information {
    margin: 25px 0 0 0;
  }

  /* line 1160, ../scss/base.scss */
  .template-single-project .title {
    font-size: 40px;
  }

  /* line 1164, ../scss/base.scss */
  .template-single-project .category {
    font-size: 16px;
    line-height: 1.4;
  }

  /* line 1169, ../scss/base.scss */
  .template-single-project .supplement .container {
    display: block;
  }

  /* line 1173, ../scss/base.scss */
  .template-single-project .supplement .col-1,
  .template-single-project .supplement .col-2 {
    padding: 0;
    width: 100%;
  }

  /* line 1179, ../scss/base.scss */
  .template-single-project .supplement .col-1 {
    margin: 0 0 1.4em 0;
  }

  /* line 1183, ../scss/base.scss */
  .template-single-project .noted {
    font-size: 11px;
  }
}
/* line 1188, ../scss/base.scss */
.pagers .page {
  background: #fff;
  display: block;
  padding: 25px;
  opacity: .85;
  position: fixed;
  text-decoration: none;
  -webkit-transition: margin .5s,opacity .5s;
  transition: margin .5s,opacity .5s;
  z-index: 500;
}

/* line 1200, ../scss/base.scss */
.pagers .left {
  left: 0;
  -webkit-transition: opacity .5s 1s,margin .5s;
  transition: opacity .5s 1s,margin .5s;
}

/* line 1206, ../scss/base.scss */
.pagers .right {
  right: 0;
  -webkit-transition: opacity .5s 1s,margin .5s;
  transition: opacity .5s 1s,margin .5s;
}

/* line 1212, ../scss/base.scss */
.pagers .left.hidden,
.pagers .right.hidden {
  opacity: 0;
}

/* line 1217, ../scss/base.scss */
.pagers .right:hover,
.pagers .left:hover {
  opacity: 1;
  margin: 0 !important;
  -webkit-transition: margin .5s,opacity .5s;
  transition: margin .5s,opacity .5s;
}

/* line 1225, ../scss/base.scss */
.pagers .icon {
  display: inline-block;
  vertical-align: middle;
}

/* line 1230, ../scss/base.scss */
.pagers .left .title {
  margin: 0 20px 0 0;
}

/* line 1234, ../scss/base.scss */
.pagers .right .title {
  margin: 0 0 0 20px;
}

/* line 1238, ../scss/base.scss */
.pagers .title {
  color: #FC5253;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  vertical-align: middle;
}

/* line 1250, ../scss/base.scss */
.pagers .right:hover .title,
.pagers .left:hover .title {
  opacity: 1;
  -webkit-transition: opacity 1s !important;
  transition: opacity 1s !important;
}

@media screen and (max-width: 1025px) {
  /* line 1258, ../scss/base.scss */
  .pagers .left.hidden,
  .pagers .right.hidden {
    opacity: 1;
  }

  /* line 1263, ../scss/base.scss */
  .pagers .page {
    float: none;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 0;
    width: 100%;
  }

  /* line 1274, ../scss/base.scss */
  .pagers .title {
    display: inline-block;
    font-size: 20px;
    opacity: 1;
    width: auto;
  }
}
/* line 1282, ../scss/base.scss */
.template-page-about {
  margin: 55px 0;
}

/* line 1286, ../scss/base.scss */
.template-page-about .container {
  max-width: 980px;
}

/* line 1290, ../scss/base.scss */
.template-page-about header {
  margin: 0 0 55px 0;
}

/* line 1294, ../scss/base.scss */
.template-page-about header img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 1300, ../scss/base.scss */
.template-page-about header .line {
  border-color: #FC5253;
  border-width: 14px;
  margin: 45px 0 25px;
  max-width: 140px;
}

/* line 1307, ../scss/base.scss */
.template-page-about h1 {
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 120px;
  line-height: 1;
}

@media screen and (max-width: 1025px) {
  /* line 1315, ../scss/base.scss */
  .template-page-about h1 {
    font-size: 65px;
  }

  /* line 1319, ../scss/base.scss */
  .template-page-about header .line {
    border-width: 5px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1325, ../scss/base.scss */
  .template-page-about h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  /* line 1330, ../scss/base.scss */
  .template-page-about header {
    margin: 0 0 35px 0;
  }

  /* line 1334, ../scss/base.scss */
  .template-page-about header .line {
    margin: 18px 0 15px 0;
    border-width: 6px;
  }
}
/* line 1340, ../scss/base.scss */
.blog-entry header {
  margin: 0 0 25px 0;
}

/* line 1344, ../scss/base.scss */
.blog-entry header img {
  display: block;
  height: auto;
  margin: 0 auto 15px auto;
  max-width: 100%;
}

/* line 1351, ../scss/base.scss */
.blog-entry .title {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 125px;
  line-height: 1.1;
}

/* line 1358, ../scss/base.scss */
.blog-entry .etc,
.blog-entry .content {
  margin: 0 auto;
  max-width: 630px;
  width: 80%;
}

/* line 1365, ../scss/base.scss */
.blog-entry .meta {
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  margin: 5px 0 0 -30%;
  width: 25%;
}

/* line 1373, ../scss/base.scss */
.blog-entry .meta time {
  color: #A0D8F2;
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
}

/* line 1381, ../scss/base.scss */
.blog-entry .meta .line {
  border-color: #F3F3F4;
  margin: 15px 0;
  width: 100%;
}

/* line 1387, ../scss/base.scss */
.blog-entry .meta .post-categories li {
  display: block;
  font-weight: 600;
  margin: 0 0 7px 0;
}

/* line 1393, ../scss/base.scss */
.blog-entry .meta .post-categories li a {
  background: #D9D9D9;
  color: #fff;
  display: inline-block;
  padding: 6px 10px;
  text-decoration: none;
}

/* line 1401, ../scss/base.scss */
.blog-entry .intro {
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  line-height: 1.4;
  margin: 0 0 1em 0;
}

@media screen and (max-width: 1025px) {
  /* line 1412, ../scss/base.scss */
  .blog-entry header .img-wide {
    margin-left: -6%;
    width: 112%;
  }

  /* line 1417, ../scss/base.scss */
  .blog-entry .etc {
    max-width: 100%;
    width: 100%;
  }

  /* line 1422, ../scss/base.scss */
  .blog-entry .title {
    font-size: 84px;
    word-break: keep-all;
  }

  /* line 1427, ../scss/base.scss */
  .blog-entry .meta {
    float: none;
    margin: 15px 0;
    width: 100%;
  }

  /* line 1433, ../scss/base.scss */
  .blog-entry .meta .post-categories li {
    display: inline-block;
  }
}
@media screen and (max-width: 720px) {
  /* line 1439, ../scss/base.scss */
  .blog-entry .content {
    max-width: 100%;
    width: 100%;
  }

  /* line 1444, ../scss/base.scss */
  .blog-entry .title {
    font-size: 34px;
    word-break: keep-all;
  }

  /* line 1449, ../scss/base.scss */
  .blog-entry .intro {
    font-size: 18px;
  }

  /* line 1453, ../scss/base.scss */
  .blog-entry .content p {
    font-size: 16px;
  }
}
/* line 1458, ../scss/base.scss */
.blog-entry .content p {
  color: #A9AEB2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin: 0 0 1.4em 0;
}

/* line 1466, ../scss/base.scss */
.blog-entry .content > p:first-child:first-letter {
  color: #A0D8F2;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 87px;
  line-height: 1;
  margin: 2px 10px 1px 0;
}

/* line 1475, ../scss/base.scss */
.blog-entry .content p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1480, ../scss/base.scss */
.blog-entry .content h1 {
  color: #A0D8F2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 2em 0 .7em 0;
  text-transform: uppercase;
}

/* line 1489, ../scss/base.scss */
.blog-entry .content h2 {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  margin: 2em 0 .7em 0;
}

/* line 1496, ../scss/base.scss */
.blog-entry .content h1 + h2 {
  margin-top: 0;
}

/* line 1500, ../scss/base.scss */
.blog-entry .content .alignleft {
  background: #F3F3F4;
  float: left;
  margin: 0 5% 3% -20%;
  padding: 15px;
  width: 50%;
}

/* line 1508, ../scss/base.scss */
.blog-entry .content .alignleft img {
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  width: 100%;
}

/* line 1515, ../scss/base.scss */
.blog-entry .content .wp-caption-text {
  color: #848B91;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

/* line 1524, ../scss/base.scss */
.blog-entry .content .alignright {
  background: #F3F3F4;
  float: right;
  margin: 0 -20% 3% 5%;
  padding: 15px;
  width: 50%;
}

/* line 1532, ../scss/base.scss */
.blog-entry .content .alignright img {
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  width: 100%;
}

/* line 1539, ../scss/base.scss */
.blog-entry .content blockquote {
  border-bottom: 1px solid #FC5253;
  border-top: 1px solid #FC5253;
  margin: 0 0 1.4em 0;
  padding: 25px 0;
}

/* line 1546, ../scss/base.scss */
.blog-entry .content blockquote p {
  color: #838691;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
}

/* line 1555, ../scss/base.scss */
.blog-entry .content blockquote p:first-letter {
  display: inline-block;
  margin: 0 0 0 -.5em;
}

/* line 1560, ../scss/base.scss */
.blog-entry .content .quote-full p:first-letter {
  margin: 0 0 0 -.73em;
}

/* line 1564, ../scss/base.scss */
.blog-entry .content .quote-full {
  border-width: 8px;
  margin-left: -20%;
  width: 140%;
}

/* line 1570, ../scss/base.scss */
.blog-entry .content .quote-full p {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 38px;
  font-style: normal;
  margin: 0;
}

/* line 1578, ../scss/base.scss */
.blog-entry .content .gallery {
  margin: 0 0 1.4em -20%;
  width: 140%;
}

/* line 1583, ../scss/base.scss */
.blog-entry .content .gallery img {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1589, ../scss/base.scss */
.blog-entry .content .gallery.cols-1 .col-1 {
  margin: 0 0 1.4em 0;
}

/* line 1593, ../scss/base.scss */
.blog-entry .content .gallery.cols-1 .col-1:last-child {
  margin: 0;
}

/* line 1597, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-1 {
  margin: 0 0 2% 0;
}

/* line 1601, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-2 {
  float: left;
  width: 49%;
}

/* line 1606, ../scss/base.scss */
.blog-entry .content .gallery.cols-2 .col-3 {
  float: right;
  width: 49%;
}

/* line 1611, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-1 {
  margin: 0 0 2% 0;
}

/* line 1615, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-2 {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1621, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-3 {
  float: left;
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1627, ../scss/base.scss */
.blog-entry .content .gallery.cols-3 .col-4 {
  float: left;
  width: 32%;
}

@media screen and (max-width: 1025px) {
  /* line 1633, ../scss/base.scss */
  .template-single {
    overflow: hidden;
  }

  /* line 1637, ../scss/base.scss */
  .blog-entry .content .quote-full {
    margin-left: -10%;
    width: 120%;
  }

  /* line 1642, ../scss/base.scss */
  .blog-entry .content .quote-full p {
    font-size: 28px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1648, ../scss/base.scss */
  .blog-entry .content blockquote {
    padding: 20px 0;
  }

  /* line 1652, ../scss/base.scss */
  .blog-entry .content .alignleft,
  .blog-entry .content .alignright {
    float: none;
    margin: 0 0 1.4em 0;
    width: 100% !important;
  }

  /* line 1659, ../scss/base.scss */
  .blog-entry .content .quote-full {
    border-width: 4px;
    margin-left: 0;
    width: 100%;
  }

  /* line 1665, ../scss/base.scss */
  .blog-entry .content .quote-full p {
    font-size: 18px;
  }

  /* line 1669, ../scss/base.scss */
  .blog-entry .content .gallery {
    margin-left: 0;
    width: 100%;
  }
}
/* line 1675, ../scss/base.scss */
.pagination {
  border-bottom: 1px solid #F3F3F4;
  border-top: 1px solid #F3F3F4;
  margin: 0 0 1.4em 0;
  padding: 15px 0;
}

/* line 1682, ../scss/base.scss */
.pagination .container {
  max-width: 980px;
}

/* line 1686, ../scss/base.scss */
.pagination .arrow {
  position: absolute;
}

/* line 1690, ../scss/base.scss */
.pagination .arrow.previous {
  left: -15%;
}

/* line 1694, ../scss/base.scss */
.pagination .arrow.next {
  right: -15%;
}

/* line 1698, ../scss/base.scss */
.pagination .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1708, ../scss/base.scss */
.pagination .row .col {
  position: relative;
  width: 50%;
}

/* line 1713, ../scss/base.scss */
.pagination .row .col a {
  display: block;
  opacity: .5;
  text-decoration: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 1721, ../scss/base.scss */
.pagination .row .col a:hover {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 1727, ../scss/base.scss */
.pagination .row .col:first-child {
  border-right: 1px solid #F3F3F4;
  padding-right: 20px;
}

/* line 1732, ../scss/base.scss */
.pagination .row .col:last-child {
  padding-left: 20px;
}

/* line 1736, ../scss/base.scss */
.pagination .entry {
  padding: 10px 0;
}

/* line 1740, ../scss/base.scss */
.pagination .entry time {
  color: #A0D8F2;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 10px 0;
}

/* line 1749, ../scss/base.scss */
.pagination .entry h1 {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  margin: 0 0 8px 0;
}

/* line 1756, ../scss/base.scss */
.pagination .entry h1 a {
  color: #33384A;
  text-decoration: none;
}

/* line 1761, ../scss/base.scss */
.pagination .entry p {
  color: #A9AEB2;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

@media screen and (max-width: 1025px) {
  /* line 1769, ../scss/base.scss */
  .pagination .entry p {
    font-size: 12px;
  }

  /* line 1773, ../scss/base.scss */
  .pagination .arrow.previous {
    left: -28px;
  }

  /* line 1777, ../scss/base.scss */
  .pagination .arrow.next {
    right: -28px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1783, ../scss/base.scss */
  .pagination .row .col {
    width: 100%;
  }

  /* line 1787, ../scss/base.scss */
  .pagination .row .col a {
    opacity: 1;
  }

  /* line 1791, ../scss/base.scss */
  .pagination .row .col .arrow {
    display: none;
  }

  /* line 1795, ../scss/base.scss */
  .pagination .row .col:first-child,
  .pagination .row .col:last-child {
    border: none;
    padding: 0;
  }
}
/* line 1802, ../scss/base.scss */
.comments .container {
  max-width: 630px;
}

/* line 1806, ../scss/base.scss */
.comments h1 {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

/* line 1815, ../scss/base.scss */
.comments .comment {
  border-bottom: 1px solid #F3F3F4;
  margin: 0 0 25px 0;
  opacity: 1;
  padding: 0 0 25px 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

/* line 1824, ../scss/base.scss */
.comments .comment.hidden {
  opacity: 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
}

/* line 1830, ../scss/base.scss */
.comments .comment h3 {
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  margin: 0 0 7px 0;
}

/* line 1837, ../scss/base.scss */
.comments .comment p {
  color: #A9AEB2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 7px 0;
}

/* line 1845, ../scss/base.scss */
.comments .comment time {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-style: italic;
  font-size: 13px;
  font-style: italic;
}

/* line 1853, ../scss/base.scss */
.comments .comment a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1858, ../scss/base.scss */
.comments .form p {
  color: #848B91;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-style: italic;
}

/* line 1865, ../scss/base.scss */
.comments .form p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 1870, ../scss/base.scss */
.comments .form p.logged-in {
  font-style: normal;
}

/* line 1874, ../scss/base.scss */
.comments .form header {
  border-bottom: 1px solid #F3F3F4;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}

/* line 1880, ../scss/base.scss */
.comments .form .row .text {
  margin: 0;
}

/* line 1884, ../scss/base.scss */
.comments .form .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
}

/* line 1892, ../scss/base.scss */
.comments .form .row .col {
  margin: 0 2% 0 0;
  width: 32%;
}

/* line 1897, ../scss/base.scss */
.comments .form .row .col.end {
  margin: 0;
}

/* line 1901, ../scss/base.scss */
.comments .form .submit {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (max-width: 720px) {
  /* line 1909, ../scss/base.scss */
  .comments .form .row {
    display: block;
  }

  /* line 1913, ../scss/base.scss */
  .comments .form .row .col {
    display: block;
    margin: 0 0 2% 0;
    width: 100%;
  }

  /* line 1919, ../scss/base.scss */
  .comments .form .row .remember-me {
    display: none;
  }

  /* line 1923, ../scss/base.scss */
  .comments h1 {
    font-size: 38px;
  }
}
/* line 1928, ../scss/base.scss */
.template-index {
  position: relative;
}

/* line 1932, ../scss/base.scss */
.template-index .blog-image {
  overflow: hidden;
  position: relative;
}

/* line 1937, ../scss/base.scss */
.template-index .blog-snippet {
  background: #E8E8E8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
}

/* line 1946, ../scss/base.scss */
.template-index .blog-snippet .boxed {
  background: #fff;
  padding: 4%;
  width: 100%;
}

/* line 1952, ../scss/base.scss */
.template-index .blog-snippet time {
  color: #A0D8F2;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

/* line 1961, ../scss/base.scss */
.template-index .blog-snippet h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 44px;
}

/* line 1966, ../scss/base.scss */
.template-index .blog-snippet h1 a {
  color: #33384A;
  text-decoration: none;
}

/* line 1971, ../scss/base.scss */
.template-index .blog-snippet .line {
  border-color: #A0D8F2;
  border-width: 2px;
  margin: 20px 0;
  width: 25%;
}

/* line 1978, ../scss/base.scss */
.template-index .blog-snippet p {
  color: #848B91;
  font-family: 'nimbus-sans',sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

/* line 1985, ../scss/base.scss */
.template-index .cover {
  display: block;
  height: auto;
  width: 100%;
}

/* line 1991, ../scss/base.scss */
.template-index .row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 2001, ../scss/base.scss */
.template-index .row-1 .col-1 {
  width: 50%;
}

/* line 2005, ../scss/base.scss */
.template-index .row-1 .col-2 {
  width: 25%;
}

/* line 2009, ../scss/base.scss */
.template-index .row-1 .col-3 {
  width: 25%;
}

/* line 2013, ../scss/base.scss */
.template-index .row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 2023, ../scss/base.scss */
.template-index .row-2 .col-1 {
  width: 25%;
}

/* line 2027, ../scss/base.scss */
.template-index .row-2 .col-2 {
  width: 25%;
}

/* line 2031, ../scss/base.scss */
.template-index .row-2 .col-3 {
  width: 50%;
}

/* line 2035, ../scss/base.scss */
.template-index .row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 2045, ../scss/base.scss */
.template-index .row-3 .col-1 {
  width: 25%;
}

/* line 2049, ../scss/base.scss */
.template-index .row-3 .col-2 {
  width: 50%;
}

/* line 2053, ../scss/base.scss */
.template-index .row-3 .col-3 {
  width: 25%;
}

/* line 2057, ../scss/base.scss */
.template-index .blog-image.no-image .overlay {
  background: #A0D8F2;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 720px) {
  /* line 2064, ../scss/base.scss */
  .template-index .row-1 .col-1,
  .template-index .row-2 .col-3 {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    width: 100%;
  }

  /* line 2073, ../scss/base.scss */
  .template-index .row-1 .col-2,
  .template-index .row-1 .col-3,
  .template-index .row-2 .col-1,
  .template-index .row-2 .col-2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
  }

  /* line 2084, ../scss/base.scss */
  .template-index .row-3 .col-1 {
    width: 50%;
  }

  /* line 2088, ../scss/base.scss */
  .template-index .row-3 .col-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }

  /* line 2096, ../scss/base.scss */
  .template-index .row-3 .col-3 {
    width: 50%;
  }
}
/* line 2101, ../scss/base.scss */
.info-quote {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1.4;
  margin: 0 0 45px 0;
}

/* line 2110, ../scss/base.scss */
.info-quote p a {
  color: #FC5253;
  text-decoration: none;
}

/* line 2115, ../scss/base.scss */
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* line 2129, ../scss/base.scss */
.details .col {
  margin: 0 5% 0 0;
  width: 30%;
}

/* line 2134, ../scss/base.scss */
.details .col.end {
  margin: 0;
}

/* line 2138, ../scss/base.scss */
.details h3 {
  color: #33384A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .15em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

/* line 2148, ../scss/base.scss */
.details ul,
.details p {
  color: #848B91;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

/* line 2156, ../scss/base.scss */
.details p {
  margin: 0 0 1.4em 0;
}

/* line 2160, ../scss/base.scss */
.details p:last-child {
  margin: 0;
}

/* line 2164, ../scss/base.scss */
.details ul li {
  list-style: disc outside;
  margin: 0 0 5px 0;
}

/* line 2169, ../scss/base.scss */
.details p a,
.details ul li a {
  color: #FC5253;
  text-decoration: none;
}

/* line 2175, ../scss/base.scss */
.details p a:hover,
.details ul li a:hover {
  color: #de3538;
}

@media screen and (max-width: 1025px) {
  /* line 2181, ../scss/base.scss */
  .info-quote {
    font-size: 24px;
  }

  /* line 2185, ../scss/base.scss */
  .details ul,
  .details p {
    font-size: 12px;
  }

  /* line 2190, ../scss/base.scss */
  .details p {
    margin: 0 0 1.1em 0;
  }
}
@media screen and (max-width: 720px) {
  /* line 2196, ../scss/base.scss */
  .info-quote {
    font-size: 22px;
  }

  /* line 2200, ../scss/base.scss */
  .details .col {
    margin: 0 0 5% 0;
    width: 100%;
  }

  /* line 2205, ../scss/base.scss */
  .details ul {
    margin: 0 0 0 10px;
  }
}
/* line 2210, ../scss/base.scss */
.resume {
  margin: 20px 0 0 0;
}

/* line 2214, ../scss/base.scss */
.resume .icon {
  float: left;
  margin: 0 14px 0 0;
}

/* line 2219, ../scss/base.scss */
.resume .line {
  border-color: #FC5253;
  border-width: 2px;
  left: 1px;
  margin: 20px 0 10px 0;
  position: relative;
  width: 10px;
}

/* line 2228, ../scss/base.scss */
.resume .link {
  color: #FC5253;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

/* line 2236, ../scss/base.scss */
.main-footer {
  padding: 35px 0;
  background-color: #84807d;
  text-align: center;
}

/* line 2242, ../scss/base.scss */
.main-footer .container {
  position: relative;
}

/* line 2246, ../scss/base.scss */
.main-footer .social {
  float: left;
  position: absolute;
}

/* line 2251, ../scss/base.scss */
.main-footer .marks-alt {
  left: 50%;
  margin: 0 0 0 -58px;
  position: absolute;
}

/* line 2257, ../scss/base.scss */
.main-footer .marks-alt img {
  margin: 0 5px;
  vertical-align: middle;
}

/* line 2262, ../scss/base.scss */
.main-footer .logo {
  float: right;
}

/* line 2266, ../scss/base.scss */
.main-footer .np {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

/* line 2271, ../scss/base.scss */
.main-footer .np:hover {
  -webkit-transform: rotate(360deg) scale(1.15);
  -ms-transform: rotate(360deg) scale(1.15);
  transform: rotate(360deg) scale(1.15);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

@media screen and (max-width: 720px) {
  /* line 2280, ../scss/base.scss */
  .main-footer .marks-alt {
    left: 0;
    margin: 0 auto 20px auto;
    position: static;
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  /* line 2290, ../scss/base.scss */
  .main-footer {
    padding: 45px 0;
  }

  /* line 2294, ../scss/base.scss */
  .main-footer .social {
    float: none;
    position: static;
    text-align: center;
  }

  /* line 2300, ../scss/base.scss */
  .main-footer .logo {
    display: block;
    height: auto;
    float: none;
    margin: 0 auto;
    width: 100px;
  }
}
/* line 2309, ../scss/base.scss */
.load-more {
  padding: 35px 0;
  text-align: center;
}

/* line 2314, ../scss/base.scss */
.load-more .button {
  font-size: 16px;
  letter-spacing: .15em;
}

/* line 2319, ../scss/base.scss */
.lightboxOverlay {
  background: #fff;
}

/* line 2325, ../scss/base.scss */
.mouse {
  width: 25px;
  position: absolute;
  height: 36px;
  border-radius: 15px;
  border: 2px solid #888;
  border: 2px solid rgba(255, 255, 255, 0.27);
  cursor: pointer;
  right: 20px;
  top: 20px;
}
/* line 2335, ../scss/base.scss */
.mouse:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 720px) {
  /* line 2325, ../scss/base.scss */
  .mouse {
    display: none;
  }
}
/* line 2341, ../scss/base.scss */
.fixed .mouse {
  display: none;
}
/* line 2344, ../scss/base.scss */
.mouse .scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 6px;
  border-radius: 4px;
  background: #b0b1b1;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: scroll;
  -moz-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}
/* line 2383, ../scss/base.scss */
footer p {
  position: relative;
  color: #fff;
}
/* line 2386, ../scss/base.scss */
footer p a {
  color: #fff;
  text-decoration: none;
}
/* line 2389, ../scss/base.scss */
footer p a:hover {
  color: #ccc;
}
