/* line 1, ../scss/button.scss */
.button {
  background: #c0a062;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 200;
  font-size: 12px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background .4s;
  transition: background .4s;
}
/* line 13, ../scss/button.scss */
.button:hover {
  background: #a18551;
  cursor: pointer;
  -webkit-transition: background .4s;
  transition: background .4s;
}
