/* =============================================================================
  HTML, BODY
============================================================================= */
/* line 5, ../scss/content.scss */
html,
body {
  height: 100%;
}

/* line 10, ../scss/content.scss */
body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
  margin: 0 !important;
}

/* =============================================================================
  CONTENT
============================================================================= */
/* line 21, ../scss/content.scss */
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

/* line 30, ../scss/content.scss */
.content__heading {
  margin-bottom: 24px;
  color: #272727;
  font-size: 44px;
}

/* line 36, ../scss/content.scss */
.content__teaser {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

/* line 42, ../scss/content.scss */
.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #ff3c64;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #ff3c64;
}

/* =============================================================================
  VIDEO
============================================================================= */
/* line 56, ../scss/content.scss */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
