/* line 2, ../scss/footer.scss */
footer p {
  position: relative;
  color: #fff;
  line-height: 1.5;
}
/* line 6, ../scss/footer.scss */
footer p a {
  color: #fff;
  text-decoration: none;
}
/* line 9, ../scss/footer.scss */
footer p a:hover {
  color: #ccc;
}
