/* line 1, ../scss/header.scss */
#logo {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 11px;
  top: 12px;
  width: 60px;
  line-height: 60px;
  background-color: #c0a062;
  color: #161616;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1.0;
  text-decoration: none;
}

/* line 22, ../scss/header.scss */
.logo-title {
  position: fixed;
  top: 35px;
  left: 74px;
  text-decoration: none;
  color: #c0a062;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
