section#feedback {
  position: fixed;
  bottom: -564px;
  right: 20px;
  @media screen and (max-width:720px) {
    left: 20px;
  }
  z-index: 1;
  .mail-wrapper {
    position: relative;
    width: 500px;
    @media screen and (max-width:720px) {
      width: 100%;
    }
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 2px 6px;
    box-shadow: rgba(0,0,0,0.5) 0 2px 6px;
    .mail-header {
      background-color: #c0a062;
      color:#fff;
      position: relative;
      text-transform: capitalize;
      cursor: default;
      .close-button {
        height: 25px;
        width: 25px;
        position: absolute;
        box-sizing: border-box;
        line-height: 5px;
        display: inline-block;
        top: 2px;
        right: 2px;
        &:before,
        &:after {
          width: 20px;
          height: 3px;
          transform: rotate(-45deg);
          content: '';
          position: absolute;
          top: 11px;
          left: 3px;
          margin-top: -5;
          margin-left: -25;
          display: block;
          background-color: #fff;
          transition: all 0.2s ease-out;
        }
        &:after {
          transform: rotate(45deg);
        }
        &:hover {
          &:before,
          &:after {
            transform: rotate(0deg);
          }
        }
      }
      h2 {
        padding: 10px;
        font-size: 17px;
        line-height: 10px;
      }
    }
    form {
      background-color: #fff;
      input[type="text"], input[type="email"], textarea {
        width: 500px;
        @media screen and (max-width:720px) {
          width: 100%;
        }
        padding: 10px;
      }
      input[type="text"], input[type="email"] {
        @media screen and (max-width:720px) {
          width: 100%;
        }
        border: 0;
        border-bottom: 1px solid #e4e4e4;
      }
      textarea {
        resize: none;
        border-color: transparent;
        border-bottom: 1px solid #e4e4e4;
      }
    }
    .mail-form-footer {
      padding: 10px;
    }
  }

}

.alert {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: #ff7300;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #fff;
}